@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    cursor: none;
    overflow: hidden;
    font-family: Roboto;
}
.cursor {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid gray;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.controls {
    background: linear-gradient(to right, #ced2d3, #8e9eab);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.controls .reset {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    font-family: Roboto;
    border-radius: 150px;
    padding: 10px;
    background-color: #eef2f3;
    font-size: 12px;
}
.controls label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

}
