:root {
    --gray1: #1c1c1e;
    --gray2: #2c2c2e;
    --gray3: #3a3a3c;
    --gray4: #48484a;
    --gray5: #636366;
    --gray6: #8e8e93;
    --gray7: #aeaeb2;
    --gray8: #c7c7cc;
    --gray9: #d1d1d6;
    --gray10: #e5e5ea;
    --gray11: #f2f2f7;
    --gray12: #f9f9fd;

    --brandColor: #5e5ce6;
}


:root.dark {
    --gray1: #f9f9fd;
    --gray2: #f2f2f7;
    --gray3: #e5e5ea;
    --gray4: #d1d1d6;
    --gray5: #c7c7cc;
    --gray6: #aeaeb2;
    --gray7: #8e8e93;
    --gray8: #636366;
    --gray9: #48484a;
    --gray10: #3a3a3c;
    --gray11: #2c2c2e;
    --gray12: #1c1c1e;

    --brandColor: #6462df;
}
